body{
    background-color: rgba(17,17,17); 
    font-family: Helvetica, sans-serif;
    color: white;
}

header{
    background: rgb(37, 42, 72);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 30px;
    padding-bottom: 2px;
}

img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

main{
    width: 80%;
    margin: auto;
}

h3{
    margin-bottom: 0px;
}

i{
    font-size: small;
}

h4{
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-between;
}

textarea{
    resize: none;
}

#Criptografar{
    width:45%;
    background-color: rgba(133,90,255);
    border-radius: 10px;
    padding-bottom: 30px;
}

#Descriptografar{
    width:45%;
    background-color: rgba(133,90,255);
    border-radius: 10px;
}

#primeiro{
    text-align: center;
}
#segundo{
    text-align: right;
    margin-top: 20px;
}
.botao{
    background-color:rgba(255,114,113);
    padding: 10px;
    border-radius: 10px;
    font-family: Noto Sans, sans-serif;
    color: white;
}

button{
    background-color:rgba(90, 197, 254, 0.705);
    padding: 10px;
    border-radius: 10px;
    font-family: Noto Sans, sans-serif;
    margin: auto;
    color: white;
}

text{
    display: flex;
    justify-content: space-between;
}


textarea{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 8px;
}

#subTitulo{
    padding-top: 0px;
}
